<div id="content" class="container"></div>

<script type="application/javascript">
  var G_KEY = "<%= ENV['GOOGLE_API_KEY'] %>";
  var currentUserId = <%= current_user.id %>
</script>

<footer>
<div class="footer-space"></div>
</footer>