<div class="container">

<% if current_user.nil? %>

  <div class="jumbotron">
    <h2 id="sign-up-btn">New user?</h2>
    <a href="/users/new" class="btn btn-primary">Sign Up</a>
  </div>

<% else %>

  <h1>Straava logged in home page</h1>

<% end %>

</div>