<form action="<%= session_url %>" method="post">
  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">

  <label for="fieldemail">Email</label>
  <input type="text"
         name="user[email]"
         value=""
         id="field-email">

  <label for="field-password">Password</label>
  <input type="password"
         name="user[password]"
         value=""
         id="field-password">

  <input type="submit"
         value="Submit">
</form>