<form action="<%= session_url %>" method="post">
  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">

  <label for="session-email">Email</label>
  <input type="text"
         name="user[email]"
         id="session-email">

  <label for="session-password">Password</label>
  <input type="password"
         name="user[password]"
         id="session-password">

  <input type="submit"
         value="Submit">
</form>