<div class="container">

    <h2>Sign in</h2>
    <form action="<%= session_url %>" method="post" role="form">
      <input type="hidden"
               name="authenticity_token"
               value="<%= form_authenticity_token %>">

      <div class="form-group">
        <label for="session-email">Email</label>
        <input type="text"
               name="user[email]"
               id="session-email"
               class="form-control">
      </div>

      <div class="form-group">
        <label for="session-password">Password</label>
        <input type="password"
               name="user[password]"
               id="session-password"
               class="form-control">
      </div>

      <button type="submit" class="btn btn-default">Sign In</button>

    </form>

</div>