<h2>Sign up</h2>

<div class="container">

  <form>
    <div>
      <label for="user-email">Email</label>
      <input type="text" name="user[email]" id="user-email">
    </div>

    <div>
      <label for="user-password">Password</label>
      <input type="password" name="user[password]" id="user-password">
    </div>

    <div>
      <label for="user-fname">First name</label>
      <input type="text" name="user[fname]" id="user-fname">
    </div>

    <div>
      <label for="user-lname">Last name</label>
      <input type="text" name="user[lname]" id="user-lname">
    </div>

    <div>
    <label>Gender
      <input type="radio" name="user[gender]" id="gender-m" value="1">
      <label for="gender-m">M</label>

      <input type="radio" name="user[gender]" id="gender-f" value="2">
      <label for="gender-f">F</label>
    </label>
    </div>

    <div>
      <label for="user-city">City</label>
      <input type="text" name="user[city]" id="user-city">
    </div>

    <div>
      <label for="user-state">State</label>
      <input type="text" name="user[state]" id="user-state">

      <input type="submit" value="Submit">
    </div>

  </form>

</div>