<br>
<table class="user-show">
<tr>

<td class="avatar-username">
<div><img src="<%= user.escape('avatar') %>" height="200" width="200" class="img-rounded"></div>
<div id="username"><%= user.escape('fname') + " " + user.escape('lname') %></div>
<div id="location"><%= user.escape('city') + ", " + user.escape('state') %></div>
</td>

<td class="range-query">
<form>
  <table>
  <h3>Display a range of runs</h3>
  <tr>
  <td class="left"><label for="start-date">Start date</label></td>
  <td><input type="text" id="start-date" name="start_date" placeholder="MM/DD/YYYY"></td>
  </tr>
  <tr>
  <td class="left"><label for="end-date">End date</label></td>
  <td><input type="text" id="end-date" name="end_date" placeholder="MM/DD/YYYY"></td>
  </tr>
  <td class="left"></td>
  <td>
  <button type='submit' class="btn btn-primary">Submit</button>
  </td>
  </table>
</form>
</td>

</tr>

</table>

<div id="child-views"></div>