<div class="row" id="user-show">

<!-- left column -->

<div id="avatar-col" class="col-md-4">
<div><img src="<%= user.escape('avatar') %>" height="200" width="200" class="img-rounded"></div>
<div id="username"><%= user.escape('fname') + " " + user.escape('lname') %></div>
<div id="location"><%= user.escape('city') + ", " + user.escape('state') %></div>

<!-- end of left column div -->
</div>

<!-- blank middle column
<div class="col-md-1"></div> -->


<!-- right column -->

<div id="graph-col" class="col-md-8">

<!-- <div><h1>Insert some cool graph here</h1></div> -->

<!-- end of right column div -->
</div>



<!-- end of div class row -->
</div>