<!-- using Backbone template instead -->
<div class="container">
  <h1>Add a run</h1>
  <form action="<%= api_runs_url %>" method="post">
    <input type="hidden"
             name="authenticity_token"
             value="<%= form_authenticity_token %>">

    <h3>Type</h3>
    <label>Run type<input type="text" name="run[run_type]"></label

    <br>

    <h3>Name of run<h3>
    <input type="text" name="run[title]">

    <br>

    <h3>Location</h3>
    <label>City<input type="text" name="run[city]"></label>
    <label>State<input type="text" name="run[state]"></label

    <br>

    <h3>Date & Time</h3>
    <label>Year<input type="text" name="run[year]"></label>
    <label>Month<input type="text" name="run[mon]"></label>
    <label>Day<input type="text" name="run[day]"></label>
    <br>
    <label>Hour<input type="text" name="run[hr]"></label>
    <label>Minute<input type="text" name="run[min]"></label>
    <label>Time Zone<input type="text" name="run[offset]" value="-08:00"></label>

    <br>
    <h3>Distance</h3>
    <label>Distance<input type="text" name="run[distance]"></label>

    <br>

    <h3>Duration (optional)</h3>
    <label>Hours<input type="text" name="run[d_hr]"></label>
    <label>Minutes<input type="text" name="run[d_min]"></label>
    <label>Seconds<input type="text" name="run[d_sec]"></label>

    <br>

    <h3>Sneaker (optional)</h3>
    <input type="text" name="run[sneaker_id]">

    <br>

    <h3>Description (optional)<h3>
    <textarea name="run[description]"></textarea>

    <br>

    <input type="submit" value="Submit">
</div>