<form action="<%= users_url %>" method="post">
  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">

  <label for="new-email">Email</label>
  <input type="text"
         name="user[email]"
         value=""
         id="new-email">

  <label for="new-password">Password</label>
  <input type="password"
         name="user[password]"
         value=""
         id="new-password">

  <input type="submit"
         value="Sign Up">
</form>