<div class="container">

    <h2>Sign up</h2>
    <form action="<%= api_users_url %>" method="post" role="form">
      <input type="hidden"
             name="authenticity_token"
             value="<%= form_authenticity_token %>">

      <div>
        <label for="user-email">Email</label>
        <input type="text" name="user[email]" id="user-email"
               class="form-control">
      </div>

      <div>
        <label for="user-password">Password</label>
        <input type="password" name="user[password]" id="user-password"
               class="form-control">
      </div>

      <div>
        <label for="user-fname">First name</label>
        <input type="text" name="user[fname]" id="user-fname"
               class="form-control">
      </div>

      <div>
        <label for="user-lname">Last name</label>
        <input type="text" name="user[lname]" id="user-lname"
               class="form-control">
      </div>

      <div>
        <label>Gender<br>
          <label class="checkbox-inline">
            <input type="checkbox" name="user[gender]" value="1">M
          </label>

          <label class="checkbox-inline">
            <input type="checkbox" name="user[gender]" value="2">F
          </label>
        </label>
      </div>

      <div>
        <label for="user-city">City</label>
        <input type="text" name="user[city]" id="user-city"
               class="form-control">

        <label for="user-state">State</label>
        <input type="text" name="user[state]" id="user-state"
               class="form-control">

        <input type="submit"
               value="Submit"
               class="btn btn-default">
      </div>

    </form>

</div>