<div class="container show-page">
  <div class="col-xs-3 left">
    <img id="ted" src="https://avatars.githubusercontent.com/u/5546294?">
  </div>
  <div class="col-xs-3 right">
    <div id="show-full-name">
      <%= @user.fname + " " + @user.lname %>
    </div>
    <div id="show-city-state">
      <%= @user.city %>, <%= @user.state %>
    </div>
  </div>
</div>

