<form action="<%= runs_url %>" method="post">
  <input type="hidden"
           name="authenticity_token"
           value="<%= form_authenticity_token %>">

  <label>Hours<input type="text" name="run[d_hr]"></label>
  <label>Minutes<input type="text" name="run[d_min]"></label>
  <label>Seconds<input type="text" name="run[d_sec]"></label>
  <br>
  <label>Year<input type="text" name="run[year]"></label>
  <label>Month<input type="text" name="run[mon]"></label>
  <label>Day<input type="text" name="run[day]"></label>
  <label>Hour<input type="text" name="run[hr]"></label>
  <label>Minute<input type="text" name="run[min]"></label>
  <br>
  <label>Distance<input type="text" name="run[distance]"></label>
  <br>
  <label>City<input type="text" name="run[city]"></label>
  <label>State<input type="text" name="run[state]"></label
  <br>
  <label>Run type<input type="text" name="run[run_type]"></label
  <br>
  <label>Sneaker<input type="text" name="run[sneaker_id]"></label>


  <input type="submit" value="Submit">
