<div class="container">
  <h1>Add a run</h1>
  <form action="<%= runs_url %>" method="post">
    <input type="hidden"
             name="authenticity_token"
             value="<%= form_authenticity_token %>">

    <h3>Type</h3>
    <label>Run type<input type="text" name="run[run_type]" value="1"></label

    <br>

    <h3>Name of run<h3>
    <input type="text" name="run[title]" value="text title">

    <br>

    <h3>Location</h3>
    <label>City<input type="text" name="run[city]" value="San Francisco"></label>
    <label>State<input type="text" name="run[state]" value="CA"></label

    <br>

    <h3>Date & Time</h3>
    <label>Year<input type="text" name="run[year]" value="2014"></label>
    <label>Month<input type="text" name="run[mon]" value="5"></label>
    <label>Day<input type="text" name="run[day]" value="22"></label>
    <br>
    <label>Hour<input type="text" name="run[hr]" value="13"></label>
    <label>Minute<input type="text" name="run[min]" value="23"></label>
    <label>Time Zone<input type="text" name="run[offset]" value="-08:00"></label>

    <br>
    <h3>Distance</h3>
    <label>Distance<input type="text" name="run[distance]" value="26.2"></label>

    <br>

    <h3>Duration (optional)</h3>
    <label>Hours<input type="text" name="run[d_hr]" value="2"></label>
    <label>Minutes<input type="text" name="run[d_min]" value="51"></label>
    <label>Seconds<input type="text" name="run[d_sec]" value="45"></label>

    <br>

    <h3>Sneaker (optional)</h3>
    <input type="text" name="run[sneaker_id]">

    <br>

    <h3>Description (optional)<h3>
    <textarea name="run[description]" value="blah blah blah"></textarea>

    <br>

    <input type="submit" value="Submit">
</div>