/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Candal|Orbitron);

body.homepage {
  background: url(/assets/tam0010.JPG) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body.root {
  background: #f5f5f5;
}

// main container for everything
div#content {
  background: white;
  padding-bottom: 20px;
  padding-left: 25px;
  padding-right: 25px;

}

.navbar {
  background: white;
}
.panel {
  background: #f7f7f7;
}

a {
  color: black;
}

//RUN SHOW PAGE
div#run-show-header {
  padding-top: 25px;
  font-size: 2em;
}

div#run-panel {
  background: white;
  border: 0;
}

div#show-run-date {
  font-size: 1.6em;
}

div#show-run-title {
  font-size: 1.6em;
}

div#run-show-distance {
  font-size: 1.6em;
  font-weight: bold;
}

p.lead {
  font-size: 1.25em;
}

span.date {
  font-weight: bold;
}


//USER SHOW PAGE
table.user-show {
  width: 600px;
  td.range-query {
    margin-left: auto;
    margin-right: auto;
  }
  div#username {
    font-size: 26px;
    font-weight: bold;
  }
  div#location {
    font-size: 20px;
    color: gray;
  }
}

table.user-runs {
  .headers {
    font-weight: bold;
  }
}


//NEW RUN UPLOAD PAGE
div.panel#add-run {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  select {
    font-size: 1em;
  }
}

.ui-datepicker-header {
  background: #fc4c02;
  border: #fc4c02;
}

//NEW USER SIGN UP PAGE

div.panel#add-user {
  .signup-error {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    color: red;
    text-align: center;
  }
  select {
    font-size: 1em;
  }
  .panel-heading {
    font-size: 2em;
  }
  border: none;
  background-color: rgba(255,255,255,0.5);
  width: 420px;
  margin-left: auto;
  margin-right: auto;
  table#new-user {
    width: 400px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
  }
  button#btn-sign-up {
    border-style: none;
    background-color: #fc4c02;
    color: white;
  }
  
}

// HOMEPAGE
div.panel#homepage {
  border: none;
  background-color: rgba(255,255,255,0.5);
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  .panel-heading {
    font-size: 2em;
  }
  select {
    font-size: 1em;
  }
  button#btn-sign-in {
    border-style: none;
    background-color: #fc4c02;
    color: white;
  }
  .panel-body {
    text-align: center;
  }
}

//SESSION SIGN IN PAGE
div.panel#add-session {
  .signup-error {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    color: red;
    text-align: center;
  }
  border: none;
  background-color: rgba(255,255,255,0.5);
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  .panel-heading {
    font-size: 2em;
  }
  select {
    font-size: 1em;
  }
  button#btn-sign-in {
    border-style: none;
    background-color: #fc4c02;
    color: white;
  }
  table#new-session {
    width: 400px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
  }
}

div.panel-title {
  font-size: 2.2em;
}

div#application {
  border-style: dashed;
}

// INDEX PAGE
#run-index-header {
  font-size: 2em;
  line-height: 2em;
}

// INDEX PAGE
div#index-run-panel {
  #right-col-run {
    padding-right: 30px;
  }

  #index-panel-map {
    float: right;
  }

  #index-run-title {
    font-size: 1.25em;
  }
}

div.test {
  border-style: dotted;
  border-color: purple;
}

table#new-activity {
  width: 600px;
  height: 450px;
  margin-left: auto;
  margin-right: auto;
}

table#new-user {
  width: 600px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}

a#log-in-btn {
  background-color: #fc4c02;
  border-color: #fc4c02;
  color: white;
}

a#guest-btn {
  background-color: #428bca;
  border-color: #428bca;
  color: white;
}

.navbar-default .navbar-brand {
  color: #fc4c02;
}

#navbar-logo {
  font-size: 1.5em;
  font-family: sans-serif;
  font-weight: bolder;
}

a#upload-link {
  background-color: #fc4c02;
  color: white;
  border-width: 0px;
  border-color: #fc4c02;
  width: 70px;
  height: 30px;
  line-height: 0%;
  padding-right: 60px;
}

li#button-li {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

td {
  vertical-align: top;
  padding: 5px;
}

td.left {
  float: right;
}

div#next-page-button {
  width: 68px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

div.footer-space {
  height: 50px;
  background-color: #f5f5f5;
}

// SHOW PAGE, ERB TEMPLATE
img#ted {
  width: 200px;
  height: 200px;
}