/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

body {
  background: #f5f5f5;
}

// main container for everything
div#content {
  border-style: dashed;
  border-color: red;
  background: white;
}

div.row#user-show {
  padding-top: 30px;
}

.navbar {
  background: white;
}
.panel {
  background: #f7f7f7;
}

div#feed-col {
//  padding-right: 40px;
}

div#avatar-col {
  padding-left: 30px;
//  border-style: dashed;
//  border-color: red;
  #username {
    font-size: 26px;
    font-weight: bold;
  }
  #location {
    font-size: 20px;
    color: gray;
  }
}

div.panel#add-run {

  select {
    font-size: 2em;
  }
}

div.panel-title {
  font-size: 2.2em;
}

div#application {
  border-style: dashed;
}

#run-index-header {
  font-size: 2em;
  line-height: 2em;
}

//div#index-run-panel {
//  border-style: dashed;
//  border-color: blue;
//  border-width: thick;
//
//  #index-panel-body {
//    border-style: dashed;
//    border-color: red;
//  }
//
//  #x {
//    border-style: dashed;
//    border-color: green;
//  }
//
//  #index-run-title {
//    font-size: 1.25em;
//  }
//}

div.test {
  border-style: dotted;
  border-color: purple;
}

table#new-activity {
  width: 600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
//  border-style: dotted;
}

td {
  vertical-align: top;
  padding: 5px;

}

td.left {
  float: right;
}

div.left {
  border-style: dashed;
  border-color: red;
}

div.right {
  border-style: dashed;
  border-color: blue;
}

// #users/:id
div#user-show-run {
//  border-style: dashed;
//  border-color: blue;
}

a#user-run-title {
  font-size: 1.25em;
}

div#show-full-name {
  font-size: 1.5em;
}

div#show-city-state {
  font-size: 1em;
}

//#show-run-avatar {
//  border-style: dashed;
//  border-color: green;
//}
//
//#show-run-title {
//  border-style: dashed;
//  border-color: green;
//}
//
//#show-gmap {
//  border-style: dashed;
//  border-color: green;
//}

img#ted {
  width: 200px;
}
