/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

body {
  background: #f5f5f5;

}

// main container for everything
div#content {
//  border-style: dashed;
//  border-color: red;
  background: white;
  padding-bottom: 20px;
  padding-left: 25px;
  padding-right: 25px;

}

.navbar {
  background: white;
}
.panel {
  background: #f7f7f7;
}

a {
  color: black;
}

//RUN SHOW PAGE
div#run-show-header {
  padding-top: 25px;
  font-size: 2em;
//  border-style: dashed;
}

div#run-panel {
//  border-style: dashed;
//  border-color: red;
  background: white;
  border: 0;
//  #run-avatar {
//    border-style: dashed;
//    border-color: green;
//  }
}

div#show-run-date {
  font-size: 1.6em;
}

div#show-run-title {
  font-size: 1.6em;
}

div#run-show-distance {
//  border-style: dashed;
//  border-color: red;
  font-size: 1.6em;
  font-weight: bold;
}

p.lead {
  font-size: 1.25em;
}

span.date {
  font-weight: bold;
}

//USER SHOW PAGE
table#user-show-table {
//  width: 500;
  border-style: dashed;
  border-color: green;
}


//USER SHOW PAGE
div#avatar-col {
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
//  border-style: dashed;
//  border-color: red;
  #username {
    font-size: 26px;
    font-weight: bold;
  }
  #location {
    font-size: 20px;
    color: gray;
  }
}

//USER SHOW PAGE
div#graph-col {
//  border-style: dashed;
  padding-top: 30px;
  padding-right: 30px;
  #user-run-title-link {
    font-size: 1.25em;
  }
  #user-run-distance {
    font-size: 1.1em;
  }
  div#user-run-left {
//    border-style: dashed;
//    border-color: blue;
  }
  div#user-run-right {
//    border-style: dashed;
//    border-color: red;
  }
}

//NEW RUN UPLOAD PAGE
div.panel#add-run {
  select {
    font-size: 1em;
  }
}

//NEW USER SIGN UP PAGE
div.panel#add-user {
  select {
    font-size: 1em;
  }
}

//SESSION SIGN IN PAGE
div.panel#add-session {
  select {
    font-size: 1em;
  }
}

table#new-session {
  width: 600px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  tr {
//    border-style: dashed;
//    border-color: red;
  }
  td.left {
//    border-style: dashed;
//    border-color: green;
  }
//  border-style: dotted;
}

div.panel-title {
  font-size: 2.2em;
}

div#application {
  border-style: dashed;
}

// INDEX PAGE
#run-index-header {
  font-size: 2em;
  line-height: 2em;
}

// INDEX PAGE
div#index-run-panel {
  #left-col-run {
//    border-style: dashed;
//    border-color: purple;
  }

  #middle-col-run {
//    border-style: dashed;
//    border-color: green;
  }

  #right-col-run {
//    border-style: dashed;
//    border-color: red;
    padding-right: 30px;
  }

  #index-panel-map {
//    border-style: dashed;
//    border-color: blue;
    float: right;
//    width: 170px;
//    margin-left: 65px;

  }

  #index-run-title {
    font-size: 1.25em;
  }
}

div.test {
  border-style: dotted;
  border-color: purple;
}

table#new-activity {
  width: 600px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  tr {
//    border-style: dashed;
//    border-color: red;
  }

//  border-style: dotted;
}

table#new-user {
  width: 600px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  tr {
//    border-style: dashed;
//    border-color: red;
  }
  td.left {
//    border-style: dashed;
//    border-color: green;
  }
//  border-style: dotted;
}

a#log-in-btn {
  background-color: #fc4c02;
  border-color: #fc4c02;
  color: white;
}

a#guest-btn {
  background-color: #428bca;
  border-color: #428bca;
  color: white;
}

.navbar-default .navbar-brand {
  color: #fc4c02;
}


a#upload-link {
  background-color: #fc4c02;
  color: white;
  border-width: 0px;
  border-color: #fc4c02;
  width: 70px;
  height: 30px;
//  text-align: center;
  line-height: 0%;
  padding-right: 60px;

}

li#button-li {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
//  border-style: solid;
}

td {
  vertical-align: top;
  padding: 5px;
}

td.left {
  float: right;
}

div.left {
  border-style: dashed;
  border-color: red;
}

div.right {
  border-style: dashed;
  border-color: blue;
}

div#show-full-name {
  font-size: 1.3em;
}

div#show-city-state {
  font-size: 1em;
}

#gmap-user {
//  border-style: dashed;
//  border-color: green;
}

div#next-page-button {
  width: 68px;
  margin-left: auto;
  margin-right: auto;
  display: block;
//  padding-right: 5px;
//  padding-left: 5px;
}



div.footer-space {
  height: 50px;
  background-color: #f5f5f5;
}