<nav class="navbar navbar-default">

  <div class="navbar-brand col-xs-2">
    <a href="/">Straava</a>
  </div>

  <div class="col-xs-5"></div>

  <div class="col-xs-3">
    <% if !current_user.nil? %>
      <p class="text-right"><%= current_user.email %></p>
    <% end %>
  </div>


  <div class="col-xs-2">
    <% if !current_user.nil? %>
      <form role="form" action="<%= session_url %>" method="post">
        <input  name="_method" type="hidden" value="delete">
        <input  type="hidden"
                name="authenticity_token"
                value="<%= form_authenticity_token %>">
        <button type="submit" class="btn btn-danger">Sign out</button>
      </form>
    <% else %>
      <form role="form" action="<%= new_session_url %>" method="get">
        <button type="submit" class="btn btn-primary">Sign in</button>
      </form>
    <% end %>
  </div>


</nav>


