<div class="navbar navbar-default navbar-static-top" role="navigation">
<div class="container">

<div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
  <span class="sr-only">Toggle navigation</span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand" id="navbar-logo" href="/">Straava</a>
</div>

<div class="navbar-collapse collapse">
<ul class="nav navbar-nav">
<!-- <li><a href="#about">About</a></li> -->
<!-- <li><a href="#contact">Contact</a></li> -->
</ul>


<% if !!current_user %>
  <ul class="nav navbar-nav navbar-right">
  <li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
  <%= current_user.fname %> <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
  <li><a href="#users/<%= current_user.id %>">Profile</a></li>
  <li class="divider"></li>
  <li><%= link_to "Sign Out", session_url, method: :delete %></li>
  </ul>
  </li>
  <li id="button-li"><a id="upload-link" class="btn btn-primary" href="#runs/new">Upload</a></li>
  </ul>
<% else %>
  <ul class="nav navbar-nav navbar-right">
  <li><%= link_to "Sign In", new_session_url, method: :get %></a></li>
  </ul>
<% end %>

</div>
</div>